{% extends 'base.html.twig' %}

{% block title %}A propos d'Alain{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/about.css') }}">
{% endblock %}

{% block body %}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>A propos d'Alain</strong>
                    </h1>
                    <br>
                </div>
            </div>
        </div>
    </header>

    <div class="row text-center">
        <div class="col-6"><img src="{{ asset('assets/images/collages/Collage_Fotor.jpg') }}" class="img-fluid" alt="Responsive image"></div>
        <div class="col-6"><img src="{{ asset('assets/images/collages/Collage_Fotor2.jpg') }}" class="img-fluid" alt="Responsive image"></div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <h3>Alain par son papa...</h3>
            <p class="text-justify mt-2">Lorsque nous nous sommes mis à la recherche d'informations pour compléter cette partie du site Internet,
            nous sommes tombés sur un texte de Claude, le papa d'Alain. Ecrit en mai 1961, il nous donne quelques précisions
            sur le chérubin : <br><br>
            <i>"Cher fils, <br>
                Nous nous sommes promis maintes fois de commencer ici le récit de tes loufoqueries, et chaque fois nous attendions
                d'avoir un peu plus de recul pour juger quelles espiégleries mériteraient qu'on les consigne et quelles catastrophes
                il valait mieux taire. <br>
                Voici donc écrit à posteriori le résumé de tes aventures passées.
                [...] <br>
                Il faut noter tout de même pour la postérité qu'en juillet 60, alors que tu faisais une sérieuse coqueluche
                à l'âge de 3 mois, tu as fais ton baptême de l'air par un vol de 2h à 3600m d'altitude en compagnie d'un
                docteur pilote et de papa. Evidemment, tu ne t'en souviens plus mais à la descente, tu marmonnais des
                "brmmm, brmmm" pour expliquer tes sensations.
                [...] <br>
                Récemment, tu fis ta première crise de foie pour avoir englouti à l'improviste 150 grammes de beurre, sacré
                vorace !"</i></p>
        </div>
        <div class="row">
            <h3>... puis Alain par Alain</h3>
            <p class="text-justify mt-2">Vient ensuite un complément de la part d'Alain lui-même, alors âgé de 17 ans :
                <br><br>
            <i>"Je me souviens assez bien d'avoir aimé l'eau et le feu. L'eau car ma mère me remplissait le lavabo, me mettais
            une chaise sur laquelle je me tenais debout les deux mains faisant trempette, m'amusant à remplir et vider
            successivement des récipients. Pendant que je m'amusais, je foutais la paix à mes parents et surtout je ne
            faisais pas de bêtises car des bêtises j'en ai faites... Le feu : car chez ma grand-mère (Grand maman) me
            donnait un moule à tarte dans lequel j'allumais du papier et je ne me lassais jamais de regarder le bout
            de papier se consummer. C'était là encore un moyen (dangereux certes) mais efficace pour que je me tienne
            tranquille. En lisant ces quelques lignes, on pourrait penser que j'étais un "emmerdeur public". Je ne
            pense pas. Un peu turbulent et nerveux, c'est tout.</i>
            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12"><img src="{{ asset('assets/images/collages/Collage_Fotor3.jpg') }}" class="img-fluid" alt="Responsive image"></div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <ul class="timeline">
                    <li>
                        <a target="_blank" href="https://www.totoprayogo.com/#">Naissance</a>
                        <a href="#" class="float-right">25.03.1960</a>
                        <p class="text-justify">
                            C'est un vendredi, jour de l'Annonciation (ça ne s'invente pas), qu'Alain voit le jour à
                            Strasbourg. Jouflu, sans dents, un peu moins de cheveux qu'aujourd'hui, c'est un beau bébé !
                        </p>
                    </li>
                    <li>
                        <a href="#">Communion</a>
                        <a href="#" class="float-right">1974</a>
                        <p class="text-justify">
                            Alain, alors âgé de 14 ans, fait sa communion pour noyer le poisson. Nous ne sommes pas dupes :
                            ce n'est pas parce qu'il peut désormais être enfant de coeur qu'il n'en reste pas moins
                            "turbulent et nerveux" (selon ses dires).
                        </p>
                    </li>
                    <li>
                        <a href="#">Déménagement à Olivet</a>
                        <a href="#" class="float-right">1975</a>
                        <p class="text-justify">
                            C'est dans le Loiret que notre Alsacien va vivre son adolescence et, on s'en doute bien, enchaîner
                            les bêtises au doux son de Abba, John Lennon, Pink Floyd, Bob Marley et compagnie. C'est à
                            cette époque qu'il rencontre Olav, Hugues, Jean-Marie et tous les autres.
                        </p>
                    </li>
                    <li>
                        <a href="#">Rencontre avec Valérie</a>
                        <a href="#" class="float-right">1984</a>
                        <p class="text-justify">
                            Si vous êtes un scénariste d'Holywood, n'hésitez pas à nous contacter car cette histoire, beaucoup
                            trop complexe pour être résumée, ferait un très beau film romantique. Pour le casting, Marie
                            propose Hugh Grant jeune dans le rôle d'Alain (il paraît qu'elle trouve qu'il lui ressemble).
                            <br>
                            En gros : ils se rencontrèrent, ce fut le coup de foudre et *SPOILER ALERT* ils se marièrent et
                            eurent beaucoup d'enfants.
                        </p>
                    </li>
                    <li>
                        <a href="#">Mariage avec Valérie</a>
                        <a href="#" class="float-right">06-07.06.1986</a>
                        <p class="text-justify">
                            C'est au cours de ce week-end qu'Alain et Valérie se disent oui pour la vie. C'est d'abord
                            la chouille avec les copains, le 06 juin ; mais pas trop, car il faut avoir l'air frais pour
                            célébrer le mariage avec toute la famille le lendemain. Ce mariage est suivi d'un superbe voyage de noces
                            en Corse, à partir du 19 Juin.
                        </p>
                    </li>
                    <li>
                        <a href="#">Naissance de Lauriane</a>
                        <a href="#" class="float-right">16.03.1987</a>
                        <p class="text-justify">
                            C'est à la clinique Adassa de Strasbourg, le même endroit où les quatre murs de l'établissement
                            ont eu l'honneur d'entendre, pour la première fois, les cris d'Alain presque 27 ans auparavant,
                            que Lauriane voit le jour. Alain et Valérie nagent dans le bonheur avec leur petit "poisson".
                        </p>
                    </li>
                    <li>
                        <a href="#">Naissance de Pierrick & Manon</a>
                        <a href="#" class="float-right">15.01.1989</a>
                        <p class="text-justify">
                            La légende veut qu'en apprenant que la famille allait presque doubler du jour au
                            lendemain, Alain aurait été bien heureux de pouvoir se tenir à une étagère dans le cabinet du
                            gynécologue. Quelques mois plus tard, remis de leurs émotions, Alain, Valérie et Lauriane accueillent
                            Pierrick et Manon.
                        </p>
                    </li>
                    <li>
                        <a href="#">Naissance de Marie</a>
                        <a href="#" class="float-right">10.12.1992</a>
                        <p class="text-justify">
                            Pour mettre un peu de bruit dans l'appartement de Lampertheim dans lequel la joyeuse troupe
                            venait d'emménager, Marie, dernière de la tribu, pointa le bout de son nez.
                        </p>
                    </li>
                    <li>
                        <a href="#">Mariage de Lauriane et Steve</a>
                        <a href="#" class="float-right">09.06.2012</a>
                        <p>Le jour où Alain a mené son aîné jusqu'à l'autel, on ne peut qu'imaginer le coup de vieux !
                            Heureusement, Lauriane et Steve avaient tout prévu : pour le maintenir en forme, rien de mieux
                            qu'acheter une maison juste en face de chez Valérie et lui, avec des travaux. De quoi l'occuper
                            pendant quelques mois !
                        </p>
                    </li>
                    <li>
                        <a href="#">Naissance de Nolan</a>
                        <a href="#" class="float-right">27.06.2013</a>
                        <p>C'est après un long travail de 19h pour Lauriane qu'Alain devient Papi pour la première
                            fois. Par ses rires (et ses pleurs), Nolan est venu redonner de la vie (et du désordre aussi)
                            au nid familial, vidé au fur et à mesure par l'envol des 4 enfants.
                        </p>
                    </li>
                    <li>
                        <a href="#">Naissance de Lena</a>
                        <a href="#" class="float-right">01.02.2016</a>
                        <p>C'est bien beau tout ça, mais Alain commençait à s'ennuyer en attendant la retraite. Heureusement,
                            Lauriane et Steve ont pensé à tout : un deuxième enfant, ! Chouette, il va falloir aménager le
                            grenier de leur maison pour y faire une chambre à Nolan et Lena.
                        </p>
                    </li>
                    <li>
                        <a href="#">Mariage de Marie et Benjamin</a>
                        <a href="#" class="float-right">28.07.2018</a>
                    </li>
                    <li>
                        <a href="#">Enfin la retraite !</a>
                        <a href="#" class="float-right">Mai 2020</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6"><img src="{{ asset('assets/images/collages/Collage_Fotor5.jpg') }}" class="img-fluid" alt="Responsive image"></div>
        <div class="col-6"><img src="{{ asset('assets/images/collages/Collage_Fotor6.jpg') }}" class="img-fluid" alt="Responsive image"></div>
    </div>
{% endblock %}
