{% extends 'base.html.twig' %}

{% block title %}Edition de votre souvenir "{{ memory.title }}"{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/memory.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center mt-5 mb-5">Modifier votre souvenir "{{ memory.title }}"</h1>
    </div>

    <div class="container">
        {{ form_start(form) }}
        <div class="my-4">{{ form_widget(form.title) }}</div>
        <div class="mb-4">Votre souvenir : {{ form_widget(form.content) }}</div>
        <div class="mb-4">Vous pouvez modifier la photo de votre souvenir : </div>
        <div class="mb-4">{{ form_widget(form.image) }}</div>
        <button class="btn btn-secondary memory"><a href="{{ path('memory_show', {'id': memory.id}) }}" target="_blank">Voir votre souvenir</a></button>
        <button type="submit" class="btn btn-success mb-4 float-right">Modifier votre souvenir</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/settings.js') }}"></script>
{% endblock %}