{% extends 'base.html.twig' %}

{% block title %}Souvenir de {{ memory.user.firstName }} {{ memory.user.lastName }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/memory.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-5">{{ memory.title }}</h1>
        {% if memory.user == app.user %}
            <button class="btn btn-danger memory"><a href="{{ path('delete_memory', {'id': memory.id}) }}">Supprimer le souvenir</a></button>
            <button class="btn btn-info memory"><a href="{{ path('edit_memory', {'id': memory.id}) }}">Editer le souvenir</a></button>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3 text-justify">
                {{ memory.content | raw }}
                <div class="row justify-content-center">
                    <img class="img-fluid" alt="{{ memory.image }}" src="/uploads/{{ memory.image ?? null }}" style="display: inline-block; max-width: 800px; max-height: 800px; max-width: 100%; height:auto;"/>
                </div>
            </div>
            <div class="col">
                {% set a = memory.user %}
                <div class="row mt-5">
                    <div class="col-md-3 image_inner_container">
                        <img class="rounded-circle"
                                {% if memory.user.profilePicture matches '{^(https)://}' %}
                                    src="{{ memory.user.profilePicture ?? null }}"
                                {% else %}
                                    src="/uploads/{{ memory.user.profilePicture ?? null }}"
                                {% endif %} alt="profil">
                    </div>
                    <div class="col ml-4">
                        <h3 class="userName"><a href="{{ path('user_details', {'id': memory.user.id}) }}">{{ memory.user.firstName }} {{ memory.user.lastName }}</a></h3>
                        {% if memory.user.memories|length > 0 %}
                            <button type="button" class="btn btn-primary">
                                {{ memory.user.memories|length }}
                                {% if memory.user.memories|length == 1 %}souvenir{% else %}souvenirs{% endif %}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}