{% extends 'base.html.twig' %}

{% block title %}Souvenir de {{ memory.user.firstName }} {{ memory.user.lastName }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/memory.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-5">{{ memory.title }}</h1>
        {% if memory.user == app.user %}
            <button class="btn btn-danger memory"><a href="{{ path('delete_memory', {'id': memory.id}) }}">Supprimer le souvenir</a></button>
            <button class="btn btn-info memory"><a href="{{ path('edit_memory', {'id': memory.id}) }}">Editer le souvenir</a></button>
        {% endif %}
    </div>
    <div class="container corpArticle">
        <div class="row">
            <div class="col-md-8 mb-3 mt-5 text-justify">
                {{ memory.content | raw }}
r            </div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for picture in memory.pictures %}
                        <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="item active" {% endif %}></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for picture in memory.pictures %}
                        <div {% if loop.index0 == 0 %} class="item active" {% else %} class="item" {% endif %}>
                            <img class="img-responsive center-block" alt="{{ picture }}" src="/uploads/{{ picture }}"/>
                        </div>
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
            <div class="col-sm-12 col-md">
                {% set a = memory.user %}
                <div class="row mt-5">
                    <div class="col-md-3 image_inner_container">
                        <img class="rounded-circle"
                        {% if memory.user.profilePicture matches '{^(https)://}' %}
                            src="{{ memory.user.profilePicture ?? null }}"
                        {% else %}
                            src="/uploads/{{ memory.user.profilePicture ?? null }}"
                        {% endif %} alt="profil">
                    </div>
                    <div class="col ml-4">
                        <h3 class="userName"><a href="{{ path('user_details', {'id': memory.user.id}) }}">{{ memory.user.firstName }} {{ memory.user.lastName }}</a></h3>
                        {% if memory.user.memories|length > 0 %}
                            <button type="button" class="btn btn-primary">
                                {{ memory.user.memories|length }}
                                {% if memory.user.memories|length == 1 %}souvenir{% else %}souvenirs{% endif %}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}