{% extends 'base.html.twig' %}

{% block title %}Souvenir de {{ memory.user.firstName }} {{ memory.user.lastName }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/memory.css') }}">
{% endblock %}

{% block body %}


    <div class="container">
        <h1>{{ memory.title }}</h1>
    </div>
    <div class="container corpArticle">
        <div class="row">
            <div class="col-md-8 mb-3 mt-5 text-justify">
                {{ memory.content | raw }}
            </div>
            <div class="col-sm-12 col-md">
                {% set a = memory.user %}
                <div class="row mt-5">
                    <div class="col-md-3 image_inner_container">
                        <img class="rounded-circle"
                        {% if memory.user.profilePicture matches '{^(https)://}' %}
                            src="{{ memory.user.profilePicture ?? null }}"
                        {% else %}
                            src="/uploads/{{ memory.user.profilePicture ?? null }}"
                        {% endif %} alt="profil">
                    </div>
                    <div class="col">
                        <h3 class="userName"><a href="{{ path('user_details', {'id': memory.user.id}) }}">{{ memory.user.firstName }} {{ memory.user.lastName }}</a></h3>
                        {% if memory.user.memories|length > 0 %}
                            <button type="button" class="btn btn-primary">
                            <span class="badge badge-light">
                                {{ memory.user.memories|length }}
                            </span>
                                {% if memory.user.memories|length == 1 %}souvenir{% else %}souvenirs{% endif %}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}