{% extends 'base.html.twig' %}

{% block title %}Les contributeurs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/user.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="d-flex h-100 mt-5">
                    <div class="image_outer_container">
                        <div class="image_inner_container">
                            <img
                            {% if user.profilePicture matches '{^(https)://}' %}
                                src="{{ user.profilePicture ?? null }}"
                            {% else %}
                                src="/uploads/{{ user.profilePicture ?? null }}"
                            {% endif %} alt="profil">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex userName">
                    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                </div>
                <div>
                    {% if user.memories|length > 0 %}
                        <button type="button" class="btn btn-primary">
                            <span class="badge badge-light">
                                {{ user.memories|length }}
                            </span>
                            {% if user.memories|length == 1 %}souvenir{% else %}souvenirs{% endif %}
                        </button>
                    {% endif %}
                    {% if user == app.user %}
                    <button class="btn btn-secondary"><a href="{{ path('settings') }}">Vos paramètres</a></button>
                    <button class="btn btn-secondary"><a href="{{ path('user_memories') }}">Vos souvenirs</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-justify">
                {{ user.biography|raw }}
            </div>
        </div>
    </div>

{% endblock %}